<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <currency>
            <freeCurrencyConverter>
                <timeout>100</timeout>
            </freeCurrencyConverter>
            <currencyLayer>
                <timeout>100</timeout>
            </currencyLayer>
            <frankfurter>
                <timeout>100</timeout>
            </frankfurter>
        </currency>
    </default>
</config>